@inherits LayoutComponentBase

@code
{
    MudTheme _myCustomTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.LightBlue.Default,
                Secondary = Colors.LightBlue.Accent1
            }
        };
        
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

<MudLayout>
    <MudThemeProvider IsDarkMode="true" />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <div class="page">

        <main>
            <div class="top-row px-4">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>


    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

</MudLayout>



